<a {{bind-attr href=href_github}} target="_blank">{{gravatar-image email=email size=76 default='identicon' class='img-circle'}}</a>

<div>
  <a {{bind-attr href=href_github}} target="_blank">{{nombre}}</a>
</div>
