html, body {
  margin: 30px;
}

p {
  font-size: large;
}

footer {
  margin-top: 50px;
}

.panel-botones-descargas {
  text-align: center;
}

.features {
  margin-top: 50px;
}

.center {
  text-align:center;
}

.jumbotron {
  margin-top: 50px;
}

footer {
  margin-top: 100px;
}

.logo_footer {
  display: inline-block;
  background: transparent url(../images/logo-pilas-footer.png) no-repeat;
  width: 119px;
  height: 21px;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: gray;
  padding: 5px;
  padding-bottom: 10px;
}

#github-footer {
  text-align: center;
  margin: 1em;
}

  #github-star {
    display: inline-block;
  }

  #github-fork {
    display: inline-block;
  }


.active {
  background-color: rgb(228, 224, 224);
}

.miembro-contenedor {
  text-align: center;
}

.miembro-nombre {
  font-weight: bold;
  font-size: large;
}

.miembro-descripcion {
  font-size: small;
}

.post {
  margin-bottom: 5em;

}
