html, body {
  margin: 30px;
}

p {
  font-size: large;
}

footer {
  margin-top: 50px;
}

.panel-botones-descargas {
  text-align: center;
}

.features {
  margin-top: 50px;
}

.center {
  text-align:center;
}
