<div class="page-header center">
  <h1>Acerca de pilas</h1>
</div>


<div class='row'>
  <h2>¿Que es pilas-engine?</h2>
</div>

<div class='row'>
  <p>
  Pilas es una herramienta para construir videojuegos de manera sencilla y divertida.
  </p>

  <p>
  Ideamos esta herramienta para que los jóvenes puedan descubrir y
  aprender a programar computadoras. Creemos que aprender a programar es
  espectacular, porque les permite tener el control de las computadora, inventar
  y desarrollar cualquier tipo de software.
  </p>

  <p>
    <div class='sprite acercade-preview'></div>
  </p>

</div>


<div class='row'>
  <h1>El equipo principal</h1>

  <p>
  En el desarrollo de pilas participamos varias personas, somos una comunidad
  abierta y colaborativa de programadores, docentes y estudiates de distintas
  partes del mundo:
  </p>
</div>


<div class='row'>
  {{#pilas-miembro nombre='Hugo Ruscitti' email='hugoruscitti@gmail.com' github='hugoruscitti'}}Lider de proyecto y desarrollador.{{/pilas-miembro}}
  {{#pilas-miembro nombre='Walter Velazquez' email='' github=''}}Ilustrador{{/pilas-miembro}}
  {{#pilas-miembro nombre='Enrique Porta' email='quiqueporta@gmail.com' github='quiqueporta'}}Desarrollador{{/pilas-miembro}}
  {{#pilas-miembro nombre='Fernando Salamero' email='fsalamero@gmail.com' github='fsalamero'}}Desarrollador{{/pilas-miembro}}
  {{#pilas-miembro nombre='Irving Rodriguez' email='irving.prog@gmail.com' github='irvingprog'}}Desarrollador{{/pilas-miembro}}
</div>

<div class='row center'>
  <h1>El equipo de colaboradores</h1>
</div>

<div class='row'>
  {{#pilas-colaborador nombre='Marcos Vanetta' email='marcosvanetta@gmail.com' github='malev'}}{{/pilas-colaborador}}
  {{#pilas-colaborador nombre='Luciano Baraglia' email='' github='lucianobaraglia'}}{{/pilas-colaborador}}
  {{#pilas-colaborador nombre='Hernan Lozano' email='hernantz@gmail.com' github='hernantz'}}{{/pilas-colaborador}}
  {{#pilas-colaborador nombre='Pablo Mouzo' email='pablomouzo@gmail.com' github='pablomouzo'}}{{/pilas-colaborador}}
  {{#pilas-colaborador nombre='Diego Accorinti' email='diegoacco@gmail.com' github='DiegoAccorinti'}}{{/pilas-colaborador}}
  {{#pilas-colaborador nombre='Diego Riquelme' email='' github='diego_rr'}}{{/pilas-colaborador}}
</div>

<div class='row'>
  {{#pilas-colaborador nombre='Felipe Gonzalez' email='' github='felipe'}}{{/pilas-colaborador}}
  {{#pilas-colaborador nombre='binary-sequence' email='sergiolindo.empresa@gmail.com' github='binary-sequence'}}{{/pilas-colaborador}}
  {{#pilas-colaborador nombre='JuanBC' email='jbc.develop@gmail.com' github='leliel12'}}{{/pilas-colaborador}}
  {{#pilas-colaborador nombre='Ivan Pedrazas' email='' github='ipedrazas'}}{{/pilas-colaborador}}
  {{#pilas-colaborador nombre='Jairo Trad' email='' github='jairot'}}{{/pilas-colaborador}}
  {{#pilas-colaborador nombre='Matías Iturburu' email='' github='tutuca'}}{{/pilas-colaborador}}
</div>

<div class='row'>
</div>
