<div class="page-header center">
  <h1>Documentación</h1>
</div>

<div class='row'>
  <p>
    Un buen punto de inicio para comenzar a utilizar pilas es explorar el manual completo en español.
    Este manual recorre toda la funcionalidad de pilas, y explica con ejemplos cómo utilizar cada parte del motor.
  </p>
</div>


<div class="panel-botones-documentacion center">
  <a target="_blank" class='btn btn-success btn-lg' href='http://hugoruscitti.github.io/pilas-manual'>Ver el manual</a>
  <a target="_blank" class='btn btn-warning btn-lg' href='http://pilas-engine.com.ar/pilas-engine-general-brochure.pdf'>Mini-tutorial</a>
  <a target="_blank" class='btn btn-info btn-lg' href='https://pilas.readthedocs.org/en/latest/'>Ver el manual (Versión antigua 0.83)</a>
</div>


<div class="row">

  <h2>Tutoriales</h2>

<p>
  También puedes seguir nuestros tutoriales paso a paso para aprender
  sobre pilas haciendo juegos:
</p>

  <table class='tutoriales'>

  <tr>
      <td>
        <img style='border: 1px solid #A8A8A8;' src='./images/tutoriales/disparar_a_monos.png'>
      </td>

      <td>
       <h4>Disparar a Monos</h4>

          <p>Una introducción a pilas-engine utilizando un juego de disparos.
          <ul style='margin-left: 1em; list-style-type: disc'>
         <li><a href="tutoriales/disparar_a_monos.pdf">Abrir PDF</a></li>
       </ul>
      </td>
  </tr>



  <tr>
<td>
 <img style='border: 1px solid #A8A8A8;' src='./images/tutoriales/asteroides.png'>
</td>

<td>

 <h4>Asteroides</h4>

 <p>Una guia para construir un juego como el original asteroides.
 <ul style='margin-left: 1em; list-style-type: disc'>
  <li><a href="tutoriales/Asteroides.pdf">Abrir PDF</a></li>
  <li><a href="tutoriales/recursos_asteroides.zip">Descargar recursos adicionales</a></li>
 </ul>
</td>

</tr>


<tr>

<td>
 <img style='border: 1px solid #A8A8A8;' src='./images/tutoriales/mario.png'>
</td>
<td>
 <h4>Sprites y Física</h4>

 <p>Muestra los primeros pasos con actores, el motor de física y una comparativa entre pilas y pygame.
 <ul style='margin-left: 1em; list-style-type: disc'>
  <li><a href="tutoriales/mario.pdf">Abrir PDF</a></li>
  <li><a href="tutoriales/recursos_mario.zip">Descargar recursos adicionales</a></li>
 </ul>
</td>

</tr>


<tr>

<td>
 <img style='border: 1px solid #A8A8A8;' src='./images/tutoriales/grillas.png'>
</td>
<td>
 <h4>Grillas y Animación</h4>

 <p>Guia paso a paso para construir animaciones mediante grillas de gráficos.
 <ul style='margin-left: 1em; list-style-type: disc'>
  <li><a href="tutoriales/grillas.pdf">Abrir PDF</a></li>
  <li><a href="tutoriales/recursos_grillas.zip">Descargar recursos adicionales</a></li>
 </ul>
</td>

</tr>

<tr>

<td>
 <img style='border: 1px solid #A8A8A8;' src='./images/tutoriales/scrolling.png'>
</td>

<td>
 <h4>Scrolling</h4>

 <p>Muestra cómo generar el efecto desplazamiento de múltiples capas.
 <ul style='margin-left: 1em; list-style-type: disc'>
  <li><a href="tutoriales/scrolling.pdf">Abrir PDF</a></li>
  <li><a href="tutoriales/recursos_scrolling.zip">Descargar recursos adicionales</a></li>
 </ul>
</td>

</tr>


</table>






</div>
