<div class="page-header center">
  <h1>Foro de la comunidad</h1>
</div>

<div class="bs-component">
  <div class='row'>

    <div style='text-align: center'>
     <a class="aligncenter" href='http://foro.pilas-engine.com.ar/' target="_blank"><img class="aligncenter" src="./images/completamente-castellano.png" alt="Completamente es castellano" /></a>
     <p>
     <a class="aligncenter" href='http://foro.pilas-engine.com.ar/' target="_blank">Abrir el foro en una ventana nueva</a>
    </div>


  </div>
</div>
